/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size:100%;
    font-family:'Open Sans', sans-serif;
    color:#2e2e2e;
}
#container {
    width: 1000px;
    margin: auto;
    box-shadow: 0 0 1em #cccccc;
}

/* Header */
header {
    padding: 20px;
}
header h1 {
    margin: 15px 10px;
    color: #5e5e5e;
}

/* Navigasi */
nav {
    display: block;
    background-color: #ff0000;
}
nav a {
    padding: 15px 30px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
nav a.active,
nav a:hover {
    background-color: #ff0000;
}

/* Content */
.content {
    background-color: #e4e4e5;
    padding: 50px 20px;
    margin-bottom: 20px;
}
.content h1 {
    margin-bottom: 20px;
    font-size: 35px;
}
.content p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
}

/* footer */
footer {
    clear:both;
    background-color:#1d1d1d;
    padding:15px;
    color:#eee;
}

/* tabel */
body{
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    font-size: 16px;
    padding: 7px 9px;
}
table th {
    background:#ff0000;
    color:#DCDCDC;
    font-weight:bold;
    font-size:14px;
}
table tr {
    background:#ffffff;
}

/* Tambah Barang */
.input{
    padding: 5px;
}

/* Tombol */
input[type=submit]{
    font-size: 14px;
    background-color: #505050;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 8x;
}
input[type=submit].active,
input[type=submit]:hover{
    background: #6e6e6e;
}